@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

html,
#root {
  background: linear-gradient(to top, #b4b0e7e8, rgba(146, 196, 218, 0.637));
  /* background-color: ; */
  height: 100vh;
  overflow: hidden;
}

body {
  font-size: 0.95em;
  font-family: "Poppins", sans-serif;
}

.glass-navbar {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: black;
  border-radius: 15px;
  margin: 10px;
}

.centerElement {
  display: grid;
  place-items: center;
  height: 100vh;
}

.logo-img {
  width: 100px;
  position: absolute;
  left: 50%;
  top: -45px;
  transform: translate(-50%);
}

.box {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 15px;
  padding: 35px;
  margin: 27px;
  width: 320px;
  box-shadow: 0 0px 20px 0 rgba(31, 38, 135, 0.185);
  z-index: 2;
}

.box input {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: black;
  font-size: 0.95em;
}

.glass-btn {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: black;
  margin-left: 2px;
  box-shadow: 0 0px 15px 3px rgba(31, 38, 135, 0.075);
  font-size: 1em;
}

.glass-btn:hover,
.glass-btn:focus {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 0px 20px 3px rgba(31, 38, 135, 0.192);
  color: black;
}

.alert {
  background: rgba(230, 24, 24, 0.103);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.errors {
  font-size: 0.9em;
  color: rgba(230, 24, 24, 0.733);
}

.popUpModal {
  font-size: 0.95em;
}

.popUpModal input {
  font-size: 0.95em;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.popUpModal button {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: black;
  font-size: 1em;
}

.modal-content {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 15px;
}

.modal-open .supreme-container {
  -webkit-filter: blur(100px);
  -moz-filter: blur(100px);
  -o-filter: blur(100px);
  -ms-filter: blur(100px);
  filter: blur(100px);
}

.contact-list-table {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: black;
  border-radius: 15px;
  position: relative;
  z-index: 2;
}

.contact-list-table tr {
  border-radius: 15px;
}

.contact-list-table td {
  vertical-align: middle;
}

.list-group {
  border-radius: 15px;
}

.list-group-item {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: black;
}

.list-name {
  font-size: 1.1em;
}

.list-text {
  font-size: 0.85em;
}

.contact-img {
  width: 60px;
  height: 60px;
}

.updateBtns {
  cursor: pointer;
}

.updateBtns:hover {
  color: #1672ebc4;
}

#reading-contact-img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 450px;
  display: initial;
}

#holding-phone-img {
  position: absolute;
  left: -30px;
  bottom: -60px;
  z-index: 1;
  width: 260px;
  transform: scaleX(-1);
  display: initial;
}

@media only screen and (max-width: 450px) {
  .list-name {
    font-size: 0.9em;
  }
  .list-text {
    font-size: 0.8em;
  }
  .contact-img {
    width: 40px;
    height: 40px;
  }
  #reading-contact-img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .popUpModal {
    font-size: 0.9em;
  }
  #reading-contact-img {
    width: 200px;
  }
  #holding-phone-img {
    display: none;
  }
}
